In [789]:
import numpy as np
import pandas as pd
import os.path
import re

In [790]:
# Import Data
df = pd.read_csv('data.csv')
df.head(5)

,Product,Price,Brand,Core,RAM,ScrSize,GraphicCard,Drive_Type,Capacity,OperSystem,Weight,Madein,Since,Shop,URL
0,Laptop Acer TravelMate B3 TMB311 31 C2HB N4020...,5490000.0,Acer,Intel Celeron,4,11.6,Card tích hợp - Intel UHD Graphics 600,SSD,128 GB SSD M2 PCIe,Windows 11 Home SL,1.4,NaN,2021,Dienmayxanh,https://www.dienmayxanh.com/laptop/acer-travel...
1,Laptop Apple MacBook Air M1 2020 8GB/256GB/7-c...,27490000.0,MacBook,Apple M1,8,13.3,Card tích hợp - 7 nhân GPU,SSD,256 GB SSD,Mac OS,1.29,NaN,2020,Dienmayxanh,https://www.dienmayxanh.com/laptop/apple-macbo...
2,Laptop MacBook Pro 14 M1 Pro 2021 8-core CPU/1...,NaN,MacBook,Apple M1 Pro,16,14.2,Card tích hợp - 14 nhân GPU,SSD,512 GB SSD,Mac OS,1.6,NaN,10/2021,Dienmayxanh,https://www.dienmayxanh.com/laptop/macbook-pro...
3,Laptop Asus TUF Gaming FX506LHB i5 10300H/8GB/...,20990000.0,Asus,Intel Core i5 Comet Lake,8,15.6,Card rời - NVIDIA GeForce GTX 1650 4 GB,SSD,"512 GB SSD NVMe PCIe (Có thể tháo ra, lắp than...",Windows 11 Home SL,2.3,NaN,2021,Dienmayxanh,https://www.dienmayxanh.com/laptop/asus-tuf-ga...
4,Laptop Apple MacBook Air M2 2022 8GB/256GB/8-c...,32990000.0,MacBook,Intel Core i5 Comet Lake,8,13.6,Card tích hợp - 8 nhân GPU,SSD,256 GB SSD,Mac OS,1.24,NaN,6/2022,Dienmayxanh,https://www.dienmayxanh.com/laptop/apple-macbo...

In [791]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product      864 non-null    object
 1   Price        856 non-null    float64
 2   Brand        864 non-null    object
 3   Core         864 non-null    object
 4   RAM          864 non-null    object
 5   ScrSize      864 non-null    float64
 6   GraphicCard  864 non-null    object
 7   Drive_Type   864 non-null    object
 8   Capacity     864 non-null    object
 9   OperSystem   864 non-null    object
 10  Weight       864 non-null    object
 11  Madein       202 non-null    object
 12  Since        417 non-null    object
 13  Shop         864 non-null    object
 14  URL          864 non-null    object
dtypes: float64(2), object(13)
memory usage: 101.4+ KB

In [792]:
# Delete Madein and Since columns
del df['Madein']
del df['Since']

### dtypes of ram, capacity, weight must be numeric, but object => have error

#### Fix ram column

In [793]:
# Inspect ram column
df['RAM'].unique()

array(['4', '8', '16', '32', '32GB',
       '1 x 4GB, 1 x 4GB Onboard  DDR4  2400MHz ( 1 Khe cắm / Hỗ trợ tối đa 12GB )',
       '1 x 4GB Onboard  DDR4 ( 1 Khe cắm / Hỗ trợ tối đa 20GB )',
       '1 x 4GB, 1 x 4GB Onboard  DDR4  2666MHz ( 1 Khe cắm / Hỗ trợ tối đa 20GB )',
       '1 x 4GB  DDR4  3200MHz ( 2 Khe cắm',
       '2 x 4GB  DDR4  3200MHz ( 2 Khe cắm',
       '2 x 4GB  DDR4  2400MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )',
       '2 x 4GB  DDR4  3200MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )',
       '1 x 4GB  DDR4  3200MHz ( 1 Khe cắm',
       '1 x 4GB Onboard  DDR4  Hỗ trợ tối đa 20GB )',
       '1 x 4GB Onboard  DDR4  2400MHz ( 1 Khe cắm / Hỗ trợ tối đa 12GB )',
       '2 x 4GB  DDR4  3200MHz',
       '1 x 4GB Onboard  2400MHz ( 2 Khe cắm / Hỗ trợ tối đa 20GB )',
       '1 x 4GB Onboard  LPDDR4X  Không nâng cấp được )',
       '2 x 4GB  DDR4  2933MHz ( 2 Khe cắm',
       '1 x 4GB Onboard, 1 x 4GB  DDR4  2400MHz ( 1 Khe cắm / Hỗ trợ tối đa 12GB )',
       '1 x 4GB Onboard  DDR4 ( 2 Khe cắm / Hỗ trợ tối đa 20GB )',
       '1 x 4GB  DDR4  2666MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )',
       '1 x 4GB  DDR4  3200MHz',
       '1 x 4GB  DDR4  3200MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )',
       '1 x 4GB, 1 x 4GB Onboard  DDR4 ( 1 Khe cắm / Hỗ trợ tối đa 20GB )',
       '1 x 4GB Onboard  DDR4  2133MHz ( 1 Khe cắm / Hỗ trợ tối đa 12GB )',
       '1 x 4GB Onboard  LPDDR4X',
       '1 x 4GB Onboard  DDR4  2666MHz ( 1 Khe cắm / Hỗ trợ tối đa 36GB )',
       '2 x 4GB  GDDR4  3200MHz ( 2 Khe cắm / Hỗ trợ tối đa 32GB )',
       '1 x 4GB  DDR4  3200MHz ( 1 Khe cắm / Hỗ trợ tối đa 12GB )'],
      dtype=object)

In [794]:
for i, row in df.iterrows():
    if '1 x 4GB' in df.at[i,'RAM']:
        df.at[i,'RAM'] = '4'
    if '2 x 4GB' in df.at[i, 'RAM']:
        df.at[i,'RAM'] = '8'
    if '1 x 8GB' in df.at[i,'RAM']:
        df.at[i,'RAM'] = '8'
    if '2 x 8GB' in df.at[i, 'RAM']:
        df.at[i,'RAM'] = '16'
    if '1 x 16GB' in df.at[i,'RAM']:
        df.at[i,'RAM'] = '16'
    if '2 x 16GB' in df.at[i, 'RAM']:
        df.at[i,'RAM'] = '32'

# 32GB -> 32 
df['RAM'] = df['RAM'].replace(['32GB'], '32')

In [795]:
# Change object type to int type
df['RAM'] = df['RAM'].astype(int)

#### Fix capacity column

In [796]:
# Inspect capacity column
df['Capacity'].unique()

array(['128 GB SSD M2 PCIe', '256 GB SSD', '512 GB SSD',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB)',
       '512 GB SSD NVMe PCIe', '1 TB SSD',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2TB (2280) / 1TB (2230))',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác không giới hạn dung lượng)',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB)',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB (2280) / 512 GB (2242))',
       'Hỗ trợ thêm 1 khe cắm SSD M.2 PCIe mở rộng (nâng cấp tối đa 1 TB)',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2 TB (Gen 3) / 1 TB (Gen 4))',
       '256 GB SSD M.2 SATA 3 (Có thể tháo ra lắp thanh khác tối đa 1 TB)',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2 TB (2280) / 1 TB (2230))',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2 TB (2280) / 512 GB (2230))',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB (2280) / 512 GB (2242))',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB (Gen 3))',
       'Hỗ trợ khe cắm HDD SATA (nâng cấp tối đa 2 TB)',
       'Hỗ trợ khe cắm HDD SATA 2.5 inch mở rộng (nâng cấp tối đa 2 TB)',
       'Không hỗ trợ khe cắm HDD', '256 GB SSD NVMe PCIe',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 512 GB)',
       '1 TB SSD M.2 PCIe',
       '512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2 TB)',
       'Hỗ trợ thêm 1 khe cắm SSD M.2 PCIe mở rộng (nâng cấp tối đa 2 TB)',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác dung lượng không giới hạn)',
       '128 GB SSD M.2 PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB)',
       'Không hỗ trợ nâng cấp, không hỗ trợ thêm khe cắm mở rộng nào khác',
       'Hỗ trợ thêm 1 khe cắm HDD SATA (nâng cấp tối đa 1 TB)',
       'Hỗ trợ khe cắm HDD SATA',
       '256 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 2 TB (2280) / 1 TB (2230))',
       'Hỗ trợ khe cắm SSD M.2 SATA3 (nâng cấp tối đa 1 TB)',
       '128GB eMMC', '512', '256', '128', '1000', '1281000'], dtype=object)

In [797]:
# 1281000 means SSD 128 GB, HDD 1000 GB
for index in list(df[df['Capacity'] == '1281000'].index):
    df.at[index, 'Capacity'] = '1024'

In [798]:
for i, row in df.iterrows():
    if df.at[i,'Capacity'] != 'SSD 128 GB, HDD 1000 GB':
        if '128 GB' in df.at[i,'Capacity']:
            df.at[i,'Capacity'] = '128'
        if '256 GB' in df.at[i,'Capacity']:
            df.at[i,'Capacity'] = '256'
        if '512 GB' in df.at[i,'Capacity']:
            df.at[i,'Capacity'] = '512'
        if '1 TB' in df.at[i,'Capacity']:
            df.at[i,'Capacity'] = '1024'
        if '1000' in df.at[i,'Capacity']:
            df.at[i,'Capacity'] = '1024'

In [799]:
for i, row in df.iterrows():
    if df.at[i,'Capacity'] != 'SSD 128 GB, HDD 1000 GB':
        if df.at[i,'Capacity'] not in ['128', '256', '512', '1024']:
            if df.at[i,'Price'] > 15000000:
                df.at[i,'Capacity'] = '512'
            else:
                df.at[i,'Capacity'] = '216'

In [800]:
df['Capacity'].unique()

array(['128', '256', '512', '1024', '216'], dtype=object)

In [801]:
# Change object type to int type
df['Capacity'] = df['Capacity'].astype(int)

#### Fix weight column

In [802]:
# Inspect weight column
df['Weight'].unique()

array(['1.4', '1.29', '1.6', '2.3', '1.24', '1.47', '1.168', '2.2', '2.8',
       '1.7', '1.65', '2.46', '2.1', '1.3', '1.63', '1.69', '1.14',
       '1.66', '2.81', '1.44', '1.38', '1.87', '2', '2.315', '1.72',
       '1.46', '1.97', '1.26', '1.75', '1.435', '1.285', '1.18', '1.2',
       '0.966', '1.42', '1.34', '2.5', '1.8', '2.35', '1.39', '2.4',
       '1.91', '1.17', '1.28', '1.51', '0.999', '1.25', '1.64', '1.74',
       '1.19', '0.77', '1.55', '2.15', '1.294', '1.11', '1.685', '1.73',
       '1.27', '1.5', '1.9', '1.41', '1.517', '1.525', '1.346', '1.682',
       '1.49', '1.79', '1.81', '1.45', '1.414', '1.52', '1.9 kg',
       '2.0 kg', '2.25 kg', '2 kg', '1.97 kg', '1.4 kg', '1.95 kg',
       '2.5 kg', '2.3 kg', '1.86 kg', '1.3 kg', '1.7 kg', '1.8 kg',
       '2.1 kg', '2.2 kg', '1.6 kg', '1.63 kg', '1.702 kg', '1.41 kg',
       '2.35 kg', '1452 g', '1.69 kg', '2.81 kg', '1.45 kg', '1.72 kg',
       '1.55 kg', '1.442 kg', '2.46 kg', '1.23 kg', '1.543 kg',
       '1.733 kg', '1.4 g', '1.1 kg', '1.47 kg', '1.98 kg', '1.74 kg',
       '1.5 kg', '2.129 kg', '1.133 kg', '2.20 kg', '1.68 kg', '1.35 kg',
       '1.39 kg', '1600 g', '2.6', '1.91 kg', '2.315 kg', '1.66 kg',
       '2.6 kg', '1.64 kg', '0.775 kg', '1.17 kg', '1.19 kg', '1640 g',
       '1.13 kg', '1.44 kg', '1.85 kg', '1705', '1.27 kg', '1.53 kg',
       '1.517 kg', '1.60 kg', '1.65 kg', '1.83 kg', '0.9 kg', '1.96 kg',
       '2.37 kg', '1.36 kg', '1.199 kg', '1.87 kg', '891 g', '999 g',
       '1400', '1.78 kg', '1.80 kg', '1.46 kg', '1.58 kg', '1.1', '1',
       '0.9', '1.35', '2.7', '2.9'], dtype=object)

In [803]:
for i, row in df.iterrows():
    df.at[i,'Weight'] = re.sub('\D', '', df.at[i,'Weight'])

In [804]:
for i, row in df.iterrows():
    if len(df.at[i,'Weight']) == 4:
        df.at[i,'Weight'] = str(round(int(df.at[i,'Weight'])/1000, 1))
    if len(df.at[i,'Weight']) == 2:
        df.at[i,'Weight'] = str(round(int(df.at[i,'Weight'])/10, 1))

In [805]:
for i, row in df.iterrows():
    if '.' not in df.at[i,'Weight'] and len(df.at[i,'Weight']) == 3:
        if df.at[i,'Weight'] < '3':
            df.at[i,'Weight'] = str(round(int(df.at[i,'Weight'])/100, 1))
            pass
        else:
            df.at[i,'Weight'] = str(round(int(df.at[i,'Weight'])/1000, 1))

In [806]:
df['Weight'].unique()

array(['1.4', '1.3', '1.6', '2.3', '1.2', '1.5', '2.2', '2.8', '1.7',
       '2.5', '2.1', '1.1', '1.9', '2', '2.0', '1.8', '1.0', '2.4', '0.8',
       '2.6', '0.9', '1', '2.7', '2.9'], dtype=object)

In [807]:
# Change object type to float type
df['Weight'] = df['Weight'].astype(float)

In [808]:
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [809]:
missing_values_table(df)

Your selected dataframe has 13 columns.
There are 1 columns that have missing values.

       Missing Values  % of Total Values
Price               8                0.9

In [810]:
# Drop rows have null value
df = df.dropna(how='any',axis=0)

In [811]:
missing_values_table(df)

Your selected dataframe has 13 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [812]:
df = df.rename(columns=str.lower)
df.columns

Index(['product', 'price', 'brand', 'core', 'ram', 'scrsize', 'graphiccard',
       'drive_type', 'capacity', 'opersystem', 'weight', 'shop', 'url'],
      dtype='object')

In [813]:
df = df.rename(
    columns={'product':'name',
            'graphiccard':'gpu',
            'core':'cpu',
            'capacity':'memory'})
df.columns

Index(['name', 'price', 'brand', 'cpu', 'ram', 'scrsize', 'gpu', 'drive_type',
       'memory', 'opersystem', 'weight', 'shop', 'url'],
      dtype='object')

In [814]:
df['id'] = np.arange(0,len(df))

In [815]:
# Move id column to 1st position
cols = list(df)
cols.insert(0, cols.pop(cols.index('id')))
df = df.loc[:, cols]
df.head(5)

,id,name,price,brand,cpu,ram,scrsize,gpu,drive_type,memory,opersystem,weight,shop,url
0,0,Laptop Acer TravelMate B3 TMB311 31 C2HB N4020...,5490000.0,Acer,Intel Celeron,4,11.6,Card tích hợp - Intel UHD Graphics 600,SSD,128,Windows 11 Home SL,1.4,Dienmayxanh,https://www.dienmayxanh.com/laptop/acer-travel...
1,1,Laptop Apple MacBook Air M1 2020 8GB/256GB/7-c...,27490000.0,MacBook,Apple M1,8,13.3,Card tích hợp - 7 nhân GPU,SSD,256,Mac OS,1.3,Dienmayxanh,https://www.dienmayxanh.com/laptop/apple-macbo...
3,2,Laptop Asus TUF Gaming FX506LHB i5 10300H/8GB/...,20990000.0,Asus,Intel Core i5 Comet Lake,8,15.6,Card rời - NVIDIA GeForce GTX 1650 4 GB,SSD,512,Windows 11 Home SL,2.3,Dienmayxanh,https://www.dienmayxanh.com/laptop/asus-tuf-ga...
4,3,Laptop Apple MacBook Air M2 2022 8GB/256GB/8-c...,32990000.0,MacBook,Intel Core i5 Comet Lake,8,13.6,Card tích hợp - 8 nhân GPU,SSD,256,Mac OS,1.2,Dienmayxanh,https://www.dienmayxanh.com/laptop/apple-macbo...
5,4,Laptop HP 240 G8 i3 1005G1/4GB/512GB/Win11 (61...,13790000.0,HP,Intel Core i3 Ice Lake,4,14.0,Card tích hợp - Intel UHD Graphics,SSD,512,Windows 11 Home SL,1.5,Dienmayxanh,https://www.dienmayxanh.com/laptop/hp-240-g8-i...

In [816]:
df['brand'].value_counts()

HP                 194
Lenovo             129
Asus               107
ASUS                97
Dell                93
APPLE               47
ACER                46
MSI                 42
Acer                41
LG                  17
GIGABYTE             9
MacBook              9
Apple (MacBook)      5
Chuwi                4
Microsoft            3
Surface              3
itel                 3
Gigabyte             2
Intel                2
Huawei               2
Masstel              1
Name: brand, dtype: int64

In [817]:
# Change 'Apple (MacBook)' into 'Macbook'
df['brand'] = df['brand'].replace(['Apple (MacBook)'], 'Macbook')

In [818]:
df['brand'] = df['brand'].str.upper()
df['brand'].value_counts()

ASUS         204
HP           194
LENOVO       129
DELL          93
ACER          87
APPLE         47
MSI           42
LG            17
MACBOOK       14
GIGABYTE      11
CHUWI          4
ITEL           3
SURFACE        3
MICROSOFT      3
INTEL          2
HUAWEI         2
MASSTEL        1
Name: brand, dtype: int64

In [819]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [820]:
print("Before clean 'cpu':")
print('*****')
print(df['cpu'].value_counts())

Before clean 'cpu':
*****
Intel Core i5 Tiger Lake                                                           56
Intel Core i5-1135G7 ( 2.4 GHz - 4.2 GHz / 8MB / 4 nhân, 8 luồng ) i5-1135G7      55
Intel Core i7 Tiger Lake                                                           36
Intel Core i5-1235U ( 1.3 GHz - 4.4GHz / 12MB / 10 nhân, 12 luồng ) i5-1235U       28
Intel Core i3-1115G4 ( 3.0 GHz - 4.10 GHz / 6MB / 2 nhân, 4 luồng ) i3-1115G4     23
                                                                                   ..
Core i5, 1135G7                                                                     1
Intel, Core i9, 11900H                                                              1
Intel Core i7-12650H ( 2.3 GHz - 4.7 GHz / 24MB / 10 nhân, 12 luồng ) i7-12650H     1
Intel Core i7-1250U ( 1.1 GHz - 4.7 GHz / 12MB / 10 nhân, 12 luồng ) i7-1250U       1
Intel Core i7  Core i7                                                              1
Name: cpu, Length: 161, dtype: int64

In [821]:
def clean_cpu():
    for i, row in df.iterrows():
        if 'i3' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Core i3'
        if 'i5' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Core i5'
        if 'i7' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Core i7'
        if 'i9' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Core i9'
        if 'Comet Lake' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Comet Lake'
        if 'Tiger Lake' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Tiger Lake'
        if 'Ice Lake' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Ice Lake'
        if 'Coffee Lake' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Coffee Lake'
        if 'Pentium' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Pentium'
        if 'Celeron' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Intel Celeron'
        if 'M1' in df.at[i,'cpu'] and 'Pro' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Apple M1 Pro'
        if 'M1' in df.at[i,'cpu'] and 'Pro' not in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Apple M1'
        if 'M2' in df.at[i,'cpu'] and 'Pro' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Apple M2 Pro'
        if 'M2' in df.at[i,'cpu'] and 'Pro' not in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'Apple M2'
        if 'Ryzen 3' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'AMD Ryzen 3'
        if 'Ryzen 5' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'AMD Ryzen 5'
        if 'Ryzen 7' in df.at[i,'cpu']:
            df.at[i,'cpu'] = 'AMD Ryzen 7'

In [822]:
clean_cpu()

In [823]:
print("After clean 'cpu':")
print('*****')
print(df['cpu'].value_counts())

After clean 'cpu':
*****
Core i5          337
Core i7          140
Core i3          116
AMD Ryzen 5       83
AMD Ryzen 7       82
Apple M2          26
Apple M1          24
Intel Celeron     15
Apple M1 Pro      14
AMD Ryzen 3        8
Intel Pentium      7
Core i9            4
Name: cpu, dtype: int64

In [824]:
def cpu_brand_generate(value):
    if 'Core' in value or 'Intel' in value:
        return 'Intel'
    if 'Apple' in value:
        return 'Apple'
    if 'AMD ' in value:
        return 'AMD'

In [825]:
df['cpu_brand'] = df['cpu'].map(cpu_brand_generate)

In [826]:
# Change float type to int type
df['price'] = df['price'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 856 entries, 0 to 863
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          856 non-null    int32
 1   name        856 non-null    object
 2   price       856 non-null    int32
 3   brand       856 non-null    object
 4   cpu         856 non-null    object
 5   ram         856 non-null    int32
 6   scrsize     856 non-null    float64
 7   gpu         856 non-null    object
 8   drive_type  856 non-null    object
 9   memory      856 non-null    int32
 10  opersystem  856 non-null    object
 11  weight      856 non-null    float64
 12  shop        856 non-null    object
 13  url         856 non-null    object
 14  cpu_brand   856 non-null    object
dtypes: float64(2), int32(4), object(9)
memory usage: 125.9+ KB

In [827]:
df['gpu'].value_counts()

Onboard  Intel Iris Xe Graphics                          160
Intel Iris Xe Graphics                                    70
Card tích hợp - Intel Iris Xe Graphics                    69
Onboard  Intel UHD Graphics                               58
Card tích hợp - Intel UHD Graphics                        42
                                                        ...
Card rời - NVIDIA GeForce RTX 3070, 8 GB                   1
Card tích hợp - 10 nhân GPU                                1
NVIDIA Quadro T500 4GB                                     1
Radeon Pro 5300M  4GB  GDDR6 / Intel UHD Graphics 630      1
GeForce MX330  2GB  GDDR5 / Intel Iris Xe Graphics         1
Name: gpu, Length: 108, dtype: int64

In [828]:
def clean_gpu():
    intel_hd_gpu = ['Intel HD 620', 'Intel HD 520']
    apple_gpu = ['Apple M1 GPU', 'Apple M2 GPU']
    
    for i, row in df.iterrows():
            if re.search('GTX', df.at[i,'gpu'], re.IGNORECASE):
                if '1650' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce GTX1650 (4GB)'
            if re.search('RTX', df.at[i,'gpu'], re.IGNORECASE):
                if '3070' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce RTX3070 (8GB)'
                elif '3060' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce RTX3060 (6GB)'
                elif '3050' in df.at[i,'gpu'] and 'Ti' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce RTX3050Ti (4GB)'
                elif '3050' in df.at[i,'gpu'] and 'Ti' not in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce RTX3050 (4GB)'
                elif '1650' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce RTX1650 (4GB)'
            if re.search('MX', df.at[i,'gpu'], re.IGNORECASE):
                if '570' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce MX570 (2GB)'
                elif '550' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce MX550 (2GB)'
                elif '450' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce MX450 (2GB)'
                elif '350' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce MX350 (2GB)'
                elif '330' in df.at[i,'gpu']:
                    df.at[i,'gpu'] = 'GeForce MX330 (2GB)'
            if re.search('Quadro ', df.at[i,'gpu'], re.IGNORECASE):
                df.at[i,'gpu'] = 'Quadro T500 (4GB)'
            if re.search('Intel', df.at[i,'gpu'], re.IGNORECASE):
                if re.search('Iris', df.at[i,'gpu'], re.IGNORECASE):
                    df.at[i,'gpu'] = 'Intel Iris Xe'
                if re.search('UHD', df.at[i,'gpu'], re.IGNORECASE):
                    df.at[i,'gpu'] = 'Intel UHD 620'
                if re.search('HD', df.at[i,'gpu'], re.IGNORECASE) and not re.search('UHD', df.at[i,'gpu'], re.IGNORECASE):
                    df.at[i,'gpu'] = random.choice(intel_hd_gpu)
            if re.search('Radeon', df.at[i,'gpu'], re.IGNORECASE):
                df.at[i,'gpu'] = 'Radeon Vega'
            if 'Onboard' in df.at[i,'gpu']:
                if df.at[i,'brand'] == 'APPLE':
                    df.at[i,'gpu'] = random.choice(apple_gpu)
                else:
                    df.at[i,'gpu'] = random.choice(intel_hd_gpu + ['Intel Iris Xe', 'Intel UHD 620'])
            if re.search('Card tích hợp', df.at[i,'gpu'], re.IGNORECASE):
                df.at[i,'gpu'] = random.choice(apple_gpu)
            if re.search('M2', df.at[i,'gpu'], re.IGNORECASE):
                df.at[i,'gpu'] = 'Apple M2 GPU'
            if re.search('M1', df.at[i,'gpu'], re.IGNORECASE):
                df.at[i,'gpu'] = 'Apple M1 GPU'

In [829]:
clean_gpu()

In [830]:
df['gpu'].value_counts()

Intel Iris Xe              323
Intel UHD 620              153
GeForce RTX3050 (4GB)       87
Radeon Vega                 81
GeForce RTX3050Ti (4GB)     44
GeForce RTX3060 (6GB)       34
Apple M2 GPU                31
GeForce GTX1650 (4GB)       29
Apple M1 GPU                22
GeForce MX550 (2GB)         11
GeForce MX330 (2GB)          8
GeForce RTX3070 (8GB)        7
GeForce MX570 (2GB)          7
GeForce MX350 (2GB)          7
GeForce MX450 (2GB)          6
Intel HD 620                 3
Quadro T500 (4GB)            1
Intel HD 520                 1
GeForce RTX1650 (4GB)        1
Name: gpu, dtype: int64

In [831]:
def gpu_brand_generate(value):
    if 'Intel' in value:
        return 'Intel'
    if 'Apple' in value:
        return 'Apple'
    if 'GeForce ' in value:
        return 'Nvidia'
    if 'Radeon' in value:
        return 'AMD'

In [832]:
df['gpu_brand'] = df['gpu'].map(gpu_brand_generate)

In [833]:
df.columns

Index(['id', 'name', 'price', 'brand', 'cpu', 'ram', 'scrsize', 'gpu',
       'drive_type', 'memory', 'opersystem', 'weight', 'shop', 'url',
       'cpu_brand', 'gpu_brand'],
      dtype='object')

In [834]:
for i, row in df.iterrows():
    if re.search('Window', df.at[i,'opersystem'], re.IGNORECASE):
        if '10' in df.at[i,'opersystem']:
            df.at[i,'opersystem'] = 'Windows 10'
        if '11' in df.at[i,'opersystem']:
            df.at[i,'opersystem'] = 'Windows 11'
    if re.search('Mac', df.at[i,'opersystem'], re.IGNORECASE) or re.search('Fedora', df.at[i,'opersystem'], re.IGNORECASE):
        df.at[i,'opersystem'] = 'Mac OS'
    if re.search('Free', df.at[i,'opersystem'], re.IGNORECASE) or re.search('No', df.at[i,'opersystem'], re.IGNORECASE):
        df.at[i,'opersystem'] = 'Windows 10'

In [835]:
df['opersystem'].unique()

array(['Windows 11', 'Mac OS', 'Windows 10'], dtype=object)

In [836]:
column_names = ['id', 'name', 'brand', 'cpu', 'cpu_brand', 'ram', 'scrsize', 'gpu', 'gpu_brand',
       'memory', 'drive_type', 'opersystem', 'weight', 'shop', 'price', 'url']
df = df.reindex(columns=column_names)
df.sample(5)

,id,name,brand,cpu,cpu_brand,ram,scrsize,gpu,gpu_brand,memory,drive_type,opersystem,weight,shop,price,url
640,632,Laptop HP Elitebook 630 G9 (6M142PA) (i5-1235U...,HP,Core i5,Intel,8,13.3,Intel Iris Xe,Intel,256,SSD,Windows 11,1.3,Phongvu,19690000,https://phongvu.vn/laptop-hp-elitebook-630-g9-...
400,392,Laptop Microsoft Surface Pro 8 i5 1135G7/8GB/2...,MICROSOFT,Core i5,Intel,8,13.0,Intel Iris Xe,Intel,256,SDD,Windows 11,0.9,FPTShop,27990000,https://fptshop.com.vn/may-tinh-xach-tay/micro...
857,849,Laptop HP ProBook 440 G8 (614F2PA) (i5-1135G7)...,HP,Core i5,Intel,16,14.0,Intel Iris Xe,Intel,256,SSD,Windows 11,1.3,Phongvu,13990000,https://phongvu.vn/laptop-hp-probook-440-g8-i5...
809,801,Laptop Huawei Matebook NbD-WDI9 D14 (i3-1115G4...,HUAWEI,Core i3,Intel,8,14.0,Intel Iris Xe,Intel,256,SSD,Windows 11,1.4,Phongvu,12890000,https://phongvu.vn/laptop-huawei-matebook-nbd-...
300,292,MacBook Air M2 2022 13 inch 8CPU 8GPU 16GB 256...,MACBOOK,Apple M2,Apple,16,13.6,Apple M2 GPU,Apple,256,SDD,Mac OS,1.2,FPTShop,34990000,https://fptshop.com.vn/may-tinh-xach-tay/macbo...

In [857]:
for i, row in df.iterrows():
    clean_name = re.sub('(\w*/)\w*', '', df.at[i, 'name'])
    clean_name = re.sub('\(.*\)', '', clean_name)
    clean_name = re.sub('i\d.*', '', clean_name)
    clean_name = re.sub('GeForce.*', '', clean_name)
    clean_name = re.sub('OLED.*', '', clean_name)
    clean_name = re.sub('GTX.*', '', clean_name)
    clean_name = re.sub('RTX.*', '', clean_name)
    clean_name = re.sub('\"', '', clean_name)
    clean_name = re.sub('Laptop', '', clean_name)
    df.at[i, 'name'] = clean_name.strip()

In [858]:
df['name'][0]

'Acer TravelMate B3 TMB311 31 C2HB'

In [859]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 856 entries, 0 to 863
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          856 non-null    int32
 1   name        856 non-null    object
 2   brand       856 non-null    object
 3   cpu         856 non-null    object
 4   cpu_brand   856 non-null    object
 5   ram         856 non-null    int32
 6   scrsize     856 non-null    float64
 7   gpu         856 non-null    object
 8   gpu_brand   855 non-null    object
 9   memory      856 non-null    int32
 10  drive_type  856 non-null    object
 11  opersystem  856 non-null    object
 12  weight      856 non-null    float64
 13  shop        856 non-null    object
 14  price       856 non-null    int32
 15  url         856 non-null    object
dtypes: float64(2), int32(4), object(10)
memory usage: 132.6+ KB

In [861]:
df.to_csv(os.path.abspath('') + '/../data/clean/data.csv', index=False)